@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;600;700&display=swap');

//Regular: weight 400;
//SemiBold: weight 600;
//Bold: weight 700;

/*Color*/
$pimaryColor: #3B3A3D;
$secondaryColor: #535256;
$fontColor: #D3d3d5;
$borderColor: #BAB8BC;
$infoColor: #080708;

/*Fonts*/
$deskTitel: 3.2rem;
$mobileTitel: 2.5rem;

$deskBread: 1.8rem;
$mobileBread: 1.6rem;

$deskBreadBold: 1.8rem;
$mobileBreadBold: 1.6rem;

$deskSearch: 2.4rem;
$mobileSearch: 1.6rem;

$avarageFont: 1.6rem;

/*Distance*/
$xxxSmall: 0.8rem;
$xxSmall: 1.6rem;
$xSmall: 2.4rem;
$small: 3.2rem;
$medium: 4rem;
$large: 4.8rem;
$xLarge: 5.6rem;
$xxLarge: 6.4rem;
$xxxLarge: 7.2rem;

/*Width*/
$max-width: 130rem